@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vb;
  width: 100vw;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 95vb;
  width: 95vw;
  background-image: url(../img/backgroundHome.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20%;
  min-width: 20%;
  margin-top: 2%;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: black solid 0.1px;
  border-radius: 5px;
}

#select {
  background-image: url(../img/options/SelectDifficulty.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 450px;
}

#difficultyForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

label {
  color: #000000;
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
}

.button-53 {
  background-color: rgba(189, 254, 244, 1);
  border: 0 solid #E5E7EB;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 20%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  border-radius: 5px;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}